<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR code Scanner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Header Image -->
    <img src="{{ url_for('static', filename='images/nlc.jpg') }}" alt="Logo" class="header-image">
    
    <div class="container">
        <form id="uploadForm" method="POST" enctype="multipart/form-data">
            <!-- Inputs for QR code, part number, raf number, and number of pieces -->
            <input type="text" name="qr_code" placeholder="Enter QR code or Number" autofocus required>
            <input type="text" name="part_number" placeholder="Enter Part Number" required>
            <input type="text" name="raf_number" placeholder="Enter Raf Number" required>
            <input type="number" name="num_pieces" placeholder="Enter number of pieces (default 1)" required>
            
            <!-- File input -->
            <div class="file-label">No file Chosen</div>
            <input type="file" name="upload_file" accept=".xls,.xlsx" id="fileInput">
            
            <!-- Submit and Delete buttons -->
            <input type="submit" value="Submit">
            <input type="button" value="Delete" id="deleteButton" onclick="deleteFile()">
        </form>
    </div>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
